.btn {
    display: block;
    text-decoration: none;
    width: 200px;
    text-align: center;
    align-self: center;
    border: none;
    border-radius: 8px;
    background: #face14;
    color: #1f1e1e;
    padding: 8px 0;
    font-weight: 500;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover {
    box-shadow: 2px 2px 16px #1f1e1e;
}