.reservation-section {
    padding: 20px;
}

.reservation-form {
    display: flex;
    flex-flow: column-reverse;
    gap: 12px;
}

form {
    box-shadow: 1px 1px 4px gray;
    padding: 20px 10px;
    border-radius: 8px;
}

fieldset {
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
}

.form-control {
    display: flex;
    flex-flow: column;
    gap: 4px;
    margin-bottom: 12px;
    position: relative;
}

input[type="range"] {
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    width: 100%;
    padding: 0;
}

input, select {
    outline: none;
    background: transparent;
    border: 1px solid #808080;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

.error {
    position: absolute;
    left: 4px;
    bottom: 1px;
    font-size: 10px;
    font-weight: 500;
    z-index: -1;
    color: #ff0000;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 300ms;
}

.btn {
    display: block;
    text-decoration: none;
    width: 200px;
    text-align: center;
    align-self: center;
    border: none;
    border-radius: 8px;
    background: #face14;
    color: #1f1e1e;
    padding: 8px 0;
    font-weight: 500;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover {
    box-shadow: 2px 2px 16px #1f1e1e;
}

.btn:disabled {
    background-color: #999999;
    box-shadow: none;
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 2px solid #00ff00;
    border-radius: 16px;
    background: #eeeeee;
    color: #00ff00;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: inherit;
    font-weight: 500;
    z-index: 20;
    transition: all ease-in-out 300ms;
}

@media (min-width: 1024px) {
    .reservation-section {
        padding: 20px 100px;
    }

    .reservation-form {
        flex-flow: row;
    }

    form {
        width: 50%;
    }

    .banner-image {
        background: gray;
        width: 50%;
    }

    .status {
        right: 100px;
    }
}